services:
  oxidized:
    # Choose the image that you want to test
    # image: docker.io/oxidized/oxidized:0.32.1
    # image: docker.io/oxidized/oxidized:latest
    # build localhost/oxidized:latest with "rake build_container" in the
    # oxidized git repository
    # image: localhost/oxidized:latest
    image: localhost/oit/custom_gems:latest
    ports:
      - 127.0.0.1:8042:8888/tcp
    environment:
      # Reload hosts list once per day
      CONFIG_RELOAD_INTERVAL: 86400
      # Needed when you push to a remote git repository
      OXIDIZED_SSH_PASSPHRASE: xxxxPassphasexxxx
    volumes:
       - ./run/oxidized-config:/home/oxidized/.config/oxidized
       - ./run/oxidized-ssh:/home/oxidized/.ssh
  linuxgeneric:
    image: localhost/oit/linuxgeneric

  # This is a gitserver to push our configs
  gitserver:
    image: localhost/oit/gitserver
    volumes:
      - ./run/repo.git:/home/git/repo.git
